@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Oswald:wght@500;700&display=swap');
:root {
    --ideal-viewport-width: 1600;
    --max-width: 1600px;
    --bg-color: #202225;
    --bg-color-secondary: #2f3137;
    --bg-color-secondary-light: hsl(225, 8%, 60%);
    --text-color: #fff;
    --text-color-dark: hsl(0, 0%, 70%);
    --text-color-black: hsl(0, 0%, 0%);
    --contraste-color: rgb(93, 189, 157);
    --font-footer: 'Oswald', sans-serif;
    --font-normal: 'DM Sans', sans-serif;
    
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    
}

html {
    font-size: calc(16 * clamp(0.7px, 100vw / var(--ideal-viewport-width), 1.3px));
    height: 100%;
    
}


body {
    background: var(--bg-color);
    color: var(--text-color);
    -webkit-font-smoothing: antialiased;
    font-family: var(--font-normal);
    min-height: 100%;
}



button, a {
    cursor: pointer;
    color: var(--text-color);
}

.container {
    width: 100%;
    max-width: var(--max-width);
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0 auto;
    text-align: center;
}

.row-flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.column-flex {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


.img2{
    margin-left: 50%;
}




